@charset "utf-8";

body {
  background-color: #e8d9bf;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}
.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 7.8% 0 2.9%;
  position: absolute;
  width: 100%;
}

.header_nav ul {
  display: flex;
  gap: 77px;
}

.logo {
  width: 226px;
}

.header_nav a {
  color: #fff;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bold;
}

.heading_h2 img {
  width: auto;
  height: 77px;
}

.container {
  max-width: 1000px;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* メインビジュアル */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 105px;
  margin-bottom: 90px;
}
.hero-text .hero-text-sub {
  font-size: 30px;
}
.hero-text .hero-text-main {
  font-size: 82px;
  margin: 60px 0;
}
.hero-text .hero-text-sentence {
  font-size: 23px;
}

/* About */
section h2 img {
  width: auto; /* 各画像の大きさをそろえる */
  height: 57px;
  display: inline-block;
}

.about {
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 95px;
}

.about-content img {
  width: 50%;
}

.about-text {
  width: 50%;
  text-align: left;
  padding-left: 50px;
}

.about-text h2 img {
  padding: 60px 0 62px; /* 下に余白を確保 */
  width: auto;
  height: 57px;
  display: inline-block;
}

.about-text h3 {
  font-size: 275%;
  padding-bottom: 38px;
}

/* Menu */
.menu {
  text-align: center;
}

.menu-list {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.menu-item {
  margin: 0 15px;
  text-align: center;
  width: 30%;
}
.menu-item h3 {
  font-size: 38px;
  color: #d30202;
  text-align: left;
  margin-top: -20px;
}

/* Gallery */
.gallery {
  padding: 60px 0;
  text-align: center;
}

.gallery-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.gallery-list img {
  width: 20%;
  margin: 0 auto;
}

/* Event */
.event {
  text-align: center;
  margin-bottom: 68px;
}

.event-list {
  margin-top: 40px;
  list-style: none;
  background-color: #fff;
  border: 4px solid #4f260b;
  font-size: 23px;
  text-align: left;
  padding: 32px 0;
}

.event-list li {
  margin: 0 auto;
  padding: 10px 0;
  max-width: 680px;
  display: flex;
  gap: 37px;
}
.event-list a {
  border-bottom: 2px solid #4f260b;
}

/* Access */
.access {
  text-align: center;
}
iframe {
  width: 100%;
  height: 470px;
}
.map {
  padding-top: 45px;
  filter: grayscale(100%) invert(92%) contrast(83%);
}

/* Footer */
.footer {
  background: #fff;
  color: #000;
  padding: 82px 0 74px;
  position: relative;
}

.footer img {
  width: 222px;
  height: auto;
}

.pagetop {
  position: fixed; /* ← 固定表示 */
  right: 20px;
  bottom: 20px;
  z-index: 1000; /* 他の要素より前に出す */
}

.pagetop img {
  width: 125px;
  height: auto;
  display: block;
}

.footer__inner--column {
  display: flex;
  gap: 64px;
  margin-bottom: 73px;
}
.footer .copyright {
  text-align: center;
}
